/* Checklist Table */
table.bpf_checklist_table {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
table.bpf_checklist_table th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
table.bpf_checklist_table tr {background-color:#d4e3e5;}
table.bpf_checklist_table td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}

#bpf_checklist_container{
    border: 1px solid #d6d6d6;
    padding: 10px 15px;
}

/* Admin Buttons */
#bpf_refresh_application_button{
    float:right
}