<?php

if($orderId = $this->getRequest()->getParam('order_id')){

    $order      = Mage::getModel('efinance/efinance')->load($orderId, 'id');
    $orderData  = $order->getData();

    if($orderData['application_status'] == 'Introducer Pend'){
        ?>
        <div class="content-header">
            <table cellspacing="0" class="grid-header">
                <tr>
                    <td><h3><?=$this->__('Introducer Response')?></h3></td>
                    <td class="a-right">
                        <button onclick="editForm.submit()" class="scalable save" type="button"><span>Save Response</span></button>
                        <button onclick="setLocation('<?php echo $_SERVER['HTTP_REFERER'];?>')"  title="Go Back" type="button"><span><span>Go Back</span></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="entry-edit">
            <form id="edit_form" name="edit_form" method="post" action="<?=$this->getUrl('*/*/introducersubmit')?>">
                <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                <fieldset id="my-fieldset">
                    <table cellspacing="0" class="form-list">
                        <tr>
                            <td class="label"><?=$this->__('Introducer Note')?></td>
                            <td class="input-ele"><p><i><?php echo $orderData['introducer_note'];?></i></p></td>
                        </tr>
                        <tr>
                            <td class="label"><?=$this->__('Your Response')?> <span class="required">*</span></td>
                            <td class="input-ele" style="width: 90%">
                                <span class="field-row">
                                    <textarea class="required-entry" name="introducer_response_form[introducer_response]" rows="3" cols="5" style="height:6em; width:99%;"></textarea>
                                </span>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <input type="hidden" value="<?php echo $orderData['id'];?>" name="introducer_response_form[order_id]"/>
            </form>
        </div>
        <script type="text/javascript">
            var editForm = new varienForm('edit_form');
        </script>
    <?php
    }else{
        echo "<p>No action is currently required for this application.</p>";
        echo '<button class="button btn-cart" onclick="setLocation(\''.$_SERVER['HTTP_REFERER'].'\')"  title="Go Back" type="button"><span><span>Go Back</span></span></button>';
    }

}

?>