<?php

$orderId    = $this->getRequest()->getParam('order_id');
$Order      = Mage::getModel('sales/order')->load($orderId)->getData();
$aBpfData   = $model = Mage::getModel('efinance/efinance')->load($Order['increment_id'])->getData();

if($aBpfData['application_status'] == 'Introducer Pend'){
    echo '<ul class="messages"><li class="warning-msg"><ul><li><span>There is a Introducer Note attached to this application.</span></li></ul></li></ul>';
}

if(!empty($aBpfData)){

    echo '<button id="bpf_refresh_application_button" title="Refresh Application Status" type="button" onclick="setLocation(\''.Mage::helper("adminhtml")->getUrl('*/bpf/updateprop', array('order_id' => $orderId)).'\')" style=""><span><span><span>Refresh Application Status</span></span></span></button>';

    echo "<h4>".$this->escapeHtml($this->getMethod()->getTitle())."</h4>";

    //if($aBpfData['application_status'] == 'Ready To Deliver'){
        //echo '<p style=\'float:right\'><button title="Approve Delivery" type="button" onclick="setLocation(\''.Mage::helper("adminhtml")->getUrl('*/bpf/submitbatch', array('order_id' => $orderId)).'\')" style=""><span><span><span>Approve Delivery</span></span></span></button></p>';
    //}

    ?>

    <p>

        <table cellspacing="0" class="form-list">
            <tbody><tr>
                <td class="label"><label>Proposal Id</label></td>
                <td class="value"><strong><?php echo $aBpfData['proposal_id'];?></strong></td>
            </tr>
            <tr>
                <td class="label"><label>Application Token</label></td>
                <td class="value"><strong><?php echo $aBpfData['application_token'];?></strong></td>
            </tr>
            <tr>
                <td class="label"><label>Customer Reference</label></td>
                <td class="value"><strong><?php echo $aBpfData['customer_reference'];?></strong></td>
            </tr>
            <tr>
                <td class="label"><label>Application Status</label></td>
                <td class="value"><strong><?php echo $aBpfData['application_status'];?></strong></td>
            </tr>
        </tbody></table>

        <?php

            if($aBpfData['application_status'] == 'Introducer Pend' || $aBpfData['application_status'] == 'Introducer Submitted'){
                echo "<strong>Introducer Note:</strong> <i>".$aBpfData['introducer_note']."</i><br/>";
            }

            if($aBpfData['application_status'] == 'Introducer Pend'){
                echo '<button title="Respond to Introducer" type="button" onclick="setLocation(\''.Mage::helper("adminhtml")->getUrl('*/bpf/introducerresponse', array('order_id' => $aBpfData['id'])).'\')" style=""><span><span><span>Respond to Introducer</span></span></span></button>';
            }

            if($aBpfData['application_status'] == 'Introducer Submitted'){
                echo "<strong>Your Introducer Response:</strong> <i>".$aBpfData['introducer_response']."</i><br/>";
            }

            /* Show checklist conditions */
            $checklistModelCollection   = Mage::getModel('efinance/checklist')->getCollection();
            $PreviousChecklists         = $checklistModelCollection->addFieldToFilter('proposal_id', $aBpfData['proposal_id'])->getData();

            if($PreviousChecklists){
                echo '<br/><div class="entry-edit-head collapseable">
                        <a id="general_country-head" href="#" onclick="Fieldset.toggleCollapse(\'general_country\'); return false;" class="">Application Checklist</a>
                        </div><fieldset class="config collapseable" id="general_country" style="display: none">';
                echo '<table class="data order-tables bpf_checklist_table"><tbody class="even">';
                echo '<thead><th>Type</th><th>Satisfied</th><th>Checklist Status</th><th>Satisfied On</th></thead>';
                foreach ($PreviousChecklists as $ccitem) {
                    $sType              = $ccitem['type'];
                    $sSatisfied         = ucfirst($ccitem['satisfied']);
                    $sChecklistStatus   = $ccitem['checklist_status'];
                    $sSatisfiedOn       = $ccitem['satisfied_on'];
                    echo "<tr><td>$sType</td><td>$sSatisfied</td><td>$sChecklistStatus</td><td>$sSatisfiedOn</td></tr>";
                }
                echo "</tbody></table>";
                echo '</fieldset>';
            }

        ?>

    </p>

<?php } ?>