<style>

    #bpf_application {
        margin-top: 10px;
        margin-bottom: 10px
    }

    #bpf_application td {
        padding: 10px;
    }

    .application_type {
        font-weight: bold;
    }

</style>

<?php

if($orderId = $this->getRequest()->getParam('order_id')){

    $Order = Mage::getModel('sales/order')->load($orderId)->getData();

    $aBpfData = $model = Mage::getModel('efinance/efinance')->load($Order['increment_id'])->getData();

    ?>

    <div class="box-content">

        <p>Your payment is being handled by <strong>Barclays Partner Finance</strong>. More information regarding your order can be found below.</p>

        <table id="bpf_application" border="1" cellpadding="10" style="">
            <tr><td class="application_type">Application Token</td><td><?php echo $aBpfData['application_token'];?></td></tr>
            <tr><td class="application_type">Application Status</td><td><?php echo $aBpfData['application_status'];?></td></tr>
            <tr><td class="application_type">Last Updated</td><td><?php echo date('m/d/Y', $aBpfData['updated']);?></td></tr>
        </table>

        <a class="button" target="blank" href="<?php echo Mage::getStoreConfig('payment/po_efinance/api_redirecturl') . '?token=' . $aBpfData['application_token'];?>">View full application</a>

    </div>

    <?php

}